@import url("variables.css");
@import url("layout.css");
@import url("home.css");
@import url("shop.css");
@import url("responsive.css");

/*  RESET  */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:var(--font-body);
    font-size:var(--fs-normal);
    color:var(--text-color);
    background:var(--secondary-color);
    overflow-x:hidden;
    line-height:1.6;

}

img{

    max-width:100%;
    display:block;

}

a{

    text-decoration:none;
    color:inherit;
    transition:var(--transition);

}

button{

    cursor:pointer;
    transition:var(--transition);

}

button:focus,
a:focus,
input:focus,
select:focus,
textarea:focus,
.btn:focus,
.o_wevent_event_spinner:focus{
    outline:none !important;
    box-shadow:none !important;
}

ul{

    list-style:none;

}

.container{

    width:min(var(--container-width),92%);
    margin:auto;

}

section{

    padding:var(--section-padding) 0;

}

a, a:hover, a:visited, a:focus {
    text-decoration: none !important;
}