.sn-wishlist-header{
    padding:40px 0 ;
    background:var(--bg-light);
}

.sn-wishlist-header .sn-section-header{
    text-align:left;
    max-width:700px;
    margin-bottom:30px;
}


.sn-wishlist-products{
    padding:50px 0;
}

.sn-wishlist-top{
    display:flex;
    justify-content:space-between;
    align-items:left;
    margin-bottom:35px;
    gap:20px;
    flex-wrap:wrap;
}

.sn-wishlist-top h3{
    font-size:30px;
    color:var(--text-dark);
    margin-bottom:8px;
}

.sn-wishlist-top p{
    color:var(--text-light);
}

.sn-products-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:28px;
}
.sn-related-products-grid{
    justify-content: center;
    grid-template-columns:repeat(auto-fit, minmax(250px, 250px))
}


.sn-wishlist-summary{
    padding:20px 0 70px;
}

.sn-summary-box{
    background:var(--white);
    border-radius:24px;
    padding:35px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    box-shadow:var(--shadow-md);
    border:1px solid rgba(0,0,0,.05);
}

.sn-btn-outline-wl{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:54px;
    padding:0 34px;
    border-radius:50px;
    color:var(--black);
    text-decoration:none;
    font-weight:600;
    transition:var(--transition);
}
.sn-btn-outline-wl:active{
    transform:translateY(2px);
}

.sn-summary-box h3{
    font-size:28px;
    color:var(--text-dark);
    margin-bottom:10px;
}

.sn-summary-box p{
    color:var(--text-light);
    max-width:600px;
}


.sn-empty-wishlist{
    padding:80px 0;
}

.sn-empty-card{
    max-width:700px;
    margin:0 auto;
    background:var(--white);
    border-radius:24px;
    padding:60px 45px;
    text-align:center;
    box-shadow:var(--shadow-md);
    border:1px solid rgba(0,0,0,.05);
    grid-column: 1 / -1;
}

.sn-empty-icon{
    width:90px;
    height:90px;
    border-radius:50%;
    margin:0 auto 25px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--gray-100);
}

.sn-empty-icon i{
    font-size:36px;
    color:var(--gray-500);
}

.sn-empty-card h3{
    font-size:34px;
    color:var(--text-dark);
    margin-bottom:18px;
}

.sn-empty-card p{
    color:var(--text-light);
    line-height:1.8;
    max-width:520px;
    margin:0 auto 35px;
}

.sn-empty-actions{
    display:flex;
    justify-content:center;
    gap:18px;
    flex-wrap:wrap;
}
